@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');

body {
    padding: 40px;
    background-color: #F1FAEE;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 300;
    font-size: 2.7rem;
    color: #E63946;
}

h2 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #E63946;
}

h3 {
    font-weight: 500;
    font-size: 2rem;
}

p {
    font-weight: 300;
}

.card {
    border-radius: 10px;
}

.stats-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* 
.active-bar {
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #A8DADC;
} */

.stats-card:hover .active-bar {
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #A8DADC;
    transition: ease-in 0.3s;
}

.stats-card:active .active-bar {
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #1D3557;
    transition: linear 0.01s;
}

.map-info {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 100%;
}

.row-two{
    height: 90vh;
}

.country-data {
    height: max-content;
    overflow-y: scroll;
}

tr:hover {
    background-color: #A8DADC;
}

@media screen and (max-width: 600px) {
    body {
        padding: 0;
    }

    h1 {
        font-size: 2.5rem;
    }
}