@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
/* https://coolors.co/969a97-0d1626-113e58-d33f49-39a0ed-8ac926-fce762-c9c9c9-f5f5f5 */

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #FEECED;
    color: #000000;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.main {
    height: 100vh;
}

.card-text {
    font-weight: bold;
}

.card {
    box-shadow: 0 5px 5px 0 rgba(50, 11, 15, 0.5);

    border-radius: 10px;
}

.map-info {
    border-radius: 20px;
    overflow: hidden;
    height: 500px;
    box-shadow: 0 5px 5px 0 rgba(50, 11, 15, 0.5);

}

#map {
    width: 100%;
    height: 100%;
}

.country-data {
    height: fit-content;
}

table {
    box-shadow: 0 5px 5px 0 rgba(50, 11, 15, 0.5);
    border-radius: 20px; 
    overflow: hidden;
}

.info-container {
    width: 160px;
}

.info-flag {
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}

.info-country {
    font-weight: 600;
}

.info-province {
    font-weight: 500;
}

.card-chart {
    height: fit-content;
}

.flag {
    height: 40px;
    border-radius: 20px;
    background-size: cover;
}

button.card {
    background-color: #ffffff;
    transition: linear 0.3s;
}

button.card:hover {
    box-shadow: 0 5px 10px 0 #320B0F;
}

button.card:focus {
    outline: none;
    background-color: #320B0F;
    color: white;
}

tr:hover {
    background-color: #faafb652;
    transition: ease-in-out 0.5s;
}

@media screen and (max-width: 1280px) {
    #main-row {
        flex-direction: column;
    }
}